<h1>Listing espais</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Descripcio</th>
    <th>Direccio</th>
    <th>Codipostal</th>
    <th>Lat</th>
    <th>Lang</th>
    <th>Tags</th>
    <th>Imatge</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @espais.each do |espai| %>
  <tr>
    <td><%= espai.nom %></td>
    <td><%= truncate espai.descripcio %></td>
    <td><%= espai.direccio %></td>
    <td><%= espai.codipostal %></td>
    <td><%= espai.lat %></td>
    <td><%= espai.lang %></td>
    <td><%= espai.tags %></td>
    <td><%= espai.imatge %></td>
    <td><%= link_to 'Show', espai %></td>
    <td><%= link_to 'Edit', edit_espai_path(espai) %></td>
    <td><%= link_to 'Destroy', espai, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Espai', new_espai_path %>
